.footer-section {
  background-color: #1a1e1f;
  padding: 60px 0;
}

.footer-section-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.footer-socials {
  display: flex;
  justify-self: end;
  gap: 12px;
}

.footer-socials img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-content p {
  font-size: 14px;
  color: rgb(244, 244, 244);
  font-family: "tbc-font";
}

.footer-content a {
  font-size: 14px;
  color: rgb(244, 244, 244);
  font-family: "tbc-font";
  text-decoration: none;
}

.footer-contact {
  display: flex;
  align-self: flex-end;
}

.contact-us-btn {
  width: 160px;
  background-color: #00aef3;
  border-radius: 5px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-style: none;
  text-align: center;
  font-size: 16px;
  color: rgb(244, 244, 244);
  font-family: "tbc-font";
  text-decoration: none;
  margin-left: auto;
}

.contact-us-btn:hover {
  background-color: rgb(213, 213, 213);
  color: rgb(53, 49, 49);
}

@media (max-width: 575.98px) {
  .footer-logo {
    grid-column: 1 / -1;
  }

  .contact-us-btn {
    margin: 0;
    order: 2;
  }

  .footer-socials {
    order: 3;
    margin: auto;
  }

  .footer-content {
    order: 4;
    grid-column: 1 / -1;
    flex-direction: column-reverse;
  }
}
