.info-section {
  background-color: #2b2b2b;
  padding: 50px 0;
}

.info-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.info-section-content p {
  font-size: 28px;
  color: rgb(244, 244, 244);
  font-family: "tbc-font";
}

.info-section-content a {
  font-size: 20px;
  color: #00aee7;
  font-family: "tbc-font";
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 792px) {
  .info-section-content p {
    font-size: 20px;
  }

  .info-section-content a {
    font-size: 20px;
  }
}
